*{ margin: 0;
   padding: 0;

   font-family: Arial, Helvetica, sans-serif;
}
#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    background-color: coral;

    flex-wrap: wrap;
}

/* tv container */

#container-tv{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    background-color: blue;

    min-height: 100vh;

    padding: 3em;
    margin: 1em;

    flex-wrap: wrap;
}


/* tv */

#tv{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

#screen{
    display: flex;

    width: 64em;
    height: 36em;
    background-color: rgb(28, 36, 41);
    color: yellow;
    border: 1rem solid black;

    flex-wrap: wrap;
}

#stand{
    width: 4em;
    height: 0;
    border-right: 1.2em solid transparent;
    border-left: 1.2em solid transparent;
    border-bottom: 5em solid black;
}

#base{
    height: 1em;
    width: 30em;
    background-color: black;
}

/* remote container */

#remote-container{
    display: flex;
    background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 1em;

}

/* remote */

#remote{
    height: 30em;
    width: 9em;
    background-color: black;
    border-radius: 2em 2em 4em 4em;
    margin: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.5em solid black;
    color: rgb(255, 255, 255);
}

#top-buttons-container {
    height: 3.3em;
    width: 8em;

    margin-bottom: 1.3em;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.top-buttons {
    height: 2em;
    width: 2em;

    border-radius: 40%;
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.3em;
}

#wheel-container {
    height: 8em;
    width: 9em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#wheel {
    height: 7em;
    width: 7em;
    background-color: gray;
    border-radius: 50%;
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    flex-direction: row;
}

#left-wheel {
    height: 7em;
    width: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

}

#left-button {
    height: 6em;
    width: 2em;

    border-radius: 15em 0 0 15em;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#center-wheel {
    height: 7em;
    width: 3em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#up-button {
    height: 2em;
    width: 2em;

    border-radius: 50%;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ok-button {
    height: 3em;
    width: 3em;

    border-radius: 50%;

    color: white;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#down-button {
    height: 2em;
    width: 2em;

    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


#right-wheel {
    height: 7em;
    width: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#right-button {
    height: 6em;
    width: 2em;

    border-radius: 0 15em 15em 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ch-vol-container {
    height: 5em;
    width: 9em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#chanel-button {
    height: 4.2em;
    width: 2em;

    border-radius: 0.7em;
    background-color: gray;
    color: white;

    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}


#up-channel {
    height: 1.6em;
    width: 2em;

    border-radius: 1em 1em 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#chan-vol {
    height: 1em;
    width: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#down-channel {
    height: 1.6em;
    width: 2em;

    border-radius: 0 0 1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#vol-button {
    height: 4.2em;
    width: 2em;

    border-radius: 0.7em;
    background-color: gray;
    color: white;

    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#up-vol {
    height: 1.6em;
    width: 2em;

    border-radius: 1em 1em 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#down-vol {
    height: 1.6em;
    width: 2em;

    border-radius: 0 0  1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#chanels-container {
    height: 7em;
    width: 9em;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.row-channels {
    height: 3.5em;
    width: 9em;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.channel {
    height: 2em;
    width: 2em;
    border-radius: 40%;

    color: white;

    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);
}

#bottom-buttons-container {
    height: 3em;
    width: 9em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.bottom-buttons{
    height: 1.7em;
    width: 3.6em;

    border-radius: 0.7em;

    background-color: rgb(96, 96, 96);
    color: white;


    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-red {
    background-color: red;
}

.bg-cyan{
    background-color: rgb(121, 154, 245);
}

